{
	"server_1": {
		"name": "test server #1",
		"host": "127.0.0.1",
		"port": "25565",
		"rcon": {
			"port": "25575",
			"pass": "you rcon password for this server"
		},
		"allow": true,
		"spawn": {"x": 0, "y": 68, "z": 0, "ry": 180, "rx": 0},
		"motd": "Welcome to test node-minecraft-protocol proxy server. test server #1", 
		"zone": {
			"pos1": {"x": -512, "z": -512},
			"pos2": {"x": 511, "z": 511}
		},
		"worldborder": {
			"center": {
				"x": 0,
				"z": 0
			},
			"radius": 206
		}
	},
	"server_2": {
		"name": "test server #2",
		"host": "127.0.0.1",
		"port": "25564",
		"rcon": {
			"port": "25574",
			"pass": "you rcon password for this server"
		},
		"allow": true,
		"spawn": {"x": -200, "y": 68, "z": 0, "ry": 180, "rx": 0},
		"motd": "Welcome to test node-minecraft-protocol proxy server. test server #2", 
		"zone": {
			"pos1": {"x": -1536, "z": -512},
			"pos2": {"x": -513, "z": 511}
		},
		"worldborder": {
			"center": {
				"x": -200,
				"z": 0
			},
			"radius": 206
		}
	}
}
